body{background-color:#000;color:#FFF;font-family:Sans-serif,Helvertica;margin:0;padding:0;}
a{color:gold;}
div {width:100%;padding:2%;margin:5px auto;}
div img{width:95%;border:4px solid #444;height:auto;}
div h1,h2{color:gold;}